# Homework 1 – Initiation

## Changes
* Provide the names for the PC's
* Provide snipped to load the excel sheet

## Tasks
* Derive for all non-numeric columns one numeric feature.
* Standardize columns `age`, `est_income` and `local`.
* Derive four features (PC1, PC2, PC3, PC4) by applying a PCA. Which of the original features has the highest correlation with one of the four derived features (principal components)?

## Solution 1

In [117]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

"""
Placehorder for comments:

"""
def getCustomerSheet():
    df = pd.read_excel("./data/customers.xls")
    
    # select all non-numeric columns
    categorical = df.select_dtypes(include=['object']).columns

    # convert to category type first and extract codes e. g. 0, 1 etc.
    df[categorical] = df[categorical].apply(lambda x: x.astype('category'))
    df[categorical] = df[categorical].apply(lambda x: x.cat.codes)
    
    #Do *not* change this statement. Make sure that the dataframe contains all columns!
    return df
    
getCustomerSheet()

,ID,Sex,Status,Children,Est_Income,Car_Owner,Usage,Age,RatePlan,LongDistance,International,Local,Dropped,Paymethod,LocalBilltype,LongDistanceBilltype,CHURN
0,1,0,2,1,38000.00,0,229.64,24.393333,3,23.56,0.00,206.08,0,1,0,0,0
1,6,1,1,2,29616.00,0,75.29,49.426667,2,29.78,0.00,45.50,0,2,1,1,1
2,8,1,1,0,19732.80,0,47.25,50.673333,3,24.81,0.00,22.44,0,1,1,1,1
3,11,1,2,2,96.33,0,59.01,56.473333,1,26.13,0.00,32.88,1,1,0,1,1
4,14,0,1,2,52004.80,0,28.14,25.140000,1,5.03,0.00,23.11,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2065,3821,0,2,0,78851.30,0,29.04,48.373333,4,0.37,0.00,28.66,0,1,1,1,0
2066,3822,0,2,1,17540.70,1,36.20,62.786667,1,22.17,0.57,13.45,0,0,0,1,0
2067,3823,0,1,0,83891.90,1,74.40,61.020000,4,28.92,0.00,45.47,0,2,0,1,0
2068,3824,0,1,2,28220.80,0,38.95,38.766667,4,26.49,0.00,12.46,0,1,1,1,0
2069,3825,0,2,0,28589.10,0,100.28,15.600000,3,13.19,0.00,87.09,0,1,1,1,0

## Solution 2

In [118]:
"""
Placehorder for comments:

"""
def standardize_columns():
    df = getCustomerSheet()
        
    # create selection as specified above
    selection = ['Age', 'Est_Income', 'Local']

    # apply standarization 
    standard_scaler = StandardScaler()
    df[selection] = standard_scaler.fit_transform(df[selection])

    #Do *not* change this statement. Make sure that the standardized columns are stored in the dataframe.
    return df["Age"], df["Est_Income"], df["Local"]

standardize_columns()

(0      -1.236866
 1       0.445465
 2       0.529246
 3       0.919027
 4      -1.186687
           ...
 2065    0.374677
 2066    1.343306
 2067    1.224580
 2068   -0.270926
 2069   -1.827810
 Name: Age, Length: 2070, dtype: float64,
 0      -0.437304
 1      -0.709607
 2      -1.030602
 3      -1.668373
 4       0.017556
           ...
 2065    0.889500
 2066   -1.101799
 2067    1.053213
 2068   -0.754922
 2069   -0.742960
 Name: Est_Income, Length: 2070, dtype: float64,
 0       2.555236
 1      -0.236071
 2      -0.636914
 3      -0.455440
 4      -0.625268
           ...
 2065   -0.528794
 2066   -0.793184
 2067   -0.236592
 2068   -0.810393
 2069    0.486874
 Name: Local, Length: 2070, dtype: float64)

## Solution 3

In [119]:
"""
Description:
Example return could be return ('LongDistance', 'PC2'), please be rigorous with the colum names! 
You can leave your code in the coding area and only return the matching combination of column names.

Placehorder for comments:

All variables should be standardized before doing the PCA, as PCA projects original data onto directions 
that maximize the variance. If some variables have a large variance and some a small, PCA will load 
on the large variables. See p. 236 of:

@book{james_introduction_2013,
	address = {New York, NY},
	title = {An {Introduction} to {Statistical} {Learning}},
	volume = {103},
	urldate = {2021-07-17},
	publisher = {Springer New York},
	author = {James, Gareth and Witten, Daniela and Hastie, Trevor and Tibshirani, Robert},
	year = {2013},
	doi = {10.1007/978-1-4614-7138-7},
}

For the remaining part of the exercise see comments in coding area.

"""
def solution_3():
    return ('Usage','PC1')

solution_3()

('Usage', 'PC1')

<hr>

<h2>Coding Area</h2>
<p>We recommend that you experiment in this area first, and then later put your cleaned code in the above provided solution functions.</p>

In [120]:
#This part isnt relevant for passing the evaluation


df = pd.read_excel("./data/customers.xls")

print(df.dtypes)

ID                        int64
Sex                      object
Status                   object
Children                  int64
Est_Income              float64
Car_Owner                object
Usage                   float64
Age                     float64
RatePlan                  int64
LongDistance            float64
International           float64
Local                   float64
Dropped                   int64
Paymethod                object
LocalBilltype            object
LongDistanceBilltype     object
CHURN                    object
dtype: object

In [121]:
# select all non-numeric columns
categorical = df.select_dtypes(include=['object']).columns

# convert to category type first and extract codes e. g. F-> 0, M -> 1 etc.
df[categorical] = df[categorical].apply(lambda x: x.astype('category'))
df[categorical] = df[categorical].apply(lambda x: x.cat.codes)

print(df.dtypes)
print(df['Sex'].value_counts())

ID                        int64
Sex                        int8
Status                     int8
Children                  int64
Est_Income              float64
Car_Owner                  int8
Usage                   float64
Age                     float64
RatePlan                  int64
LongDistance            float64
International           float64
Local                   float64
Dropped                   int64
Paymethod                  int8
LocalBilltype              int8
LongDistanceBilltype       int8
CHURN                      int8
dtype: object
0    1320
1     750
Name: Sex, dtype: int64

In [122]:

# create selection as specified above
selection = ['Age', 'Est_Income', 'Local']

# apply standarization 
standard_scaler = StandardScaler()
df[selection] = standard_scaler.fit_transform(df[selection])

# print df info
df.describe()

,ID,Sex,Status,Children,Est_Income,Car_Owner,Usage,Age,RatePlan,LongDistance,International,Local,Dropped,Paymethod,LocalBilltype,LongDistanceBilltype,CHURN
count,2070.000000,2070.000000,2070.000000,2070.000000,2.070000e+03,2070.000000,2070.000000,2.070000e+03,2070.000000,2070.000000,2070.000000,2.070000e+03,2070.000000,2070.000000,2070.000000,2070.000000,2070.000000
mean,1901.151691,0.362319,1.381643,1.147826,1.390192e-16,0.351691,75.855063,2.231173e-16,2.509662,16.129338,1.207295,6.865147e-18,0.135749,0.965700,0.454106,0.691304,0.611594
std,1094.709118,0.480786,0.512060,0.843124,1.000242e+00,0.477613,59.741635,1.000242e+00,1.125157,9.866626,2.625421,1.000242e+00,0.526189,0.633587,0.498010,0.462067,0.487505
min,1.000000,0.000000,0.000000,0.000000,-1.668373e+00,0.000000,0.680000,-2.047790e+00,1.000000,0.000000,0.000000,-1.015161e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,972.250000,0.000000,1.000000,0.000000,-9.866941e-01,0.000000,34.250000,-8.004905e-01,2.000000,8.090000,0.000000,-7.627648e-01,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1874.000000,0.000000,1.000000,1.000000,1.427686e-01,0.000000,57.110000,1.833710e-01,2.000000,16.140000,0.000000,-3.382805e-01,0.000000,1.000000,0.000000,1.000000,1.000000
75%,2832.000000,1.000000,2.000000,2.000000,8.618510e-01,1.000000,107.020000,7.537059e-01,4.000000,22.990000,0.000000,4.933055e-01,0.000000,1.000000,1.000000,1.000000,1.000000
max,3825.000000,1.000000,2.000000,2.000000,2.225964e+00,1.000000,361.880000,2.298494e+00,4.000000,59.000000,9.700000,4.752055e+00,4.000000,2.000000,1.000000,1.000000,1.000000

In [123]:
columns_org = df.columns
columns_pca=['PC1','PC2', 'PC3', 'PC4']

# standardize data
na = standard_scaler.fit_transform(df)
df = pd.DataFrame(na,columns=columns_org)

# use pca with 4 factors
pca = PCA(n_components=4)
df[columns_pca] = pca.fit_transform(df)

# calculate abs value to treat negative correlations as positive ones.
corr = df.corr().abs()
corr_sliced = corr.loc[columns_pca,columns_org]

# get column name of feature with max correlation for each pc
corr_sliced["max_corr_col"] = corr_sliced.idxmax(axis=1)

# get corresponding correlation to column
corr_sliced["max_corr_val"] =  corr_sliced.apply(lambda x: x[x["max_corr_col"]], axis=1)

# return only relevant columns
corr_sliced[["max_corr_col", 'max_corr_val']]

      max_corr_col  max_corr_val
PC1          Usage      0.935461
PC2       Children      0.603553
PC3         Status      0.601185
PC4  LocalBilltype      0.550849